.container .text-center h1 {
    font-weight: lighter;
    font-size: 3rem;
    padding-top: 2rem;
    color: black;
}

.container .text-center p {
    padding-top: 1.5rem;
    color: black;
}

.container .text-center h3{
    padding-top: 1.5rem;
    color: black;
}
.container .text-center h3 span:hover{
     text-decoration: underline;
}
.container .text-center .img img{
    width: auto;
    height: 35rem;
    padding-top: 1.5rem;
}
.container h2{
    color: black;
    margin-left: 8rem;
    padding-top: 2rem;
}
.container p{
   margin-left: 10rem;
   color: black;
   font-weight: lighter;
}
.container .pp{
    margin-left: -2rem;
    color: black;
    font-weight: lighter;
 }
 .container h6{
    font-size: 1rem;
 }